<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol %>
  </div>

  <div class="field">
    <%= form.label :content %>

  </div>
  <trix-editor input="content"></trix-editor>
  <div class="field">
    <%= form.label :open_date %>
    <%= form.datetime_select :open_date %>
  </div>

  <div class="field">
    <%= form.label :close_date %>
    <%= form.datetime_select :close_date %>
  </div>

  <div class="field">
    <%= form.label :setup_id %>
    <%= form.text_field :setup_id %>
  </div>

  <div class="field">
    <%= form.label :risk_in_amount %>
    <%= form.text_field :risk_in_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
