<div data-controller='entry' data-entry-url-counter-in-text="0">
  <%= form_with(model: entry, local: true) do |form| %>
    <% if entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

        <ul>
          <% entry.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <%= form.label :instrument_id, class: 'col-2 col-form-label'  %>
      <%= select_tag "entry[instrument_id]", options_from_collection_for_select(@instruments, "id", "name", entry.instrument_id), class: 'entry-choices col-10' %>
    </div>

    <div class="form-group row">
      <%= form.label :trade_direction, class: 'col-2 col-form-label'  %>
      <div class="col-10 pt-1 pl-0">
        <%= form.label :trade_direction, "Long"  %>
        <%= form.radio_button :trade_direction, "long", :checked => true %>
        <%= form.label :trade_direction, "Short", class: "ml-5" %>
        <%= form.radio_button :trade_direction, "short" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :open_date, class: 'col-2 col-form-label' %>
      <%= form.text_field :open_date, class: 'date-field col-10' %>
    </div>

    <div class="form-group row">
      <%= form.label :close_date, class: 'col-2 col-form-label' %>
      <%= form.text_field :close_date, class: 'date-field col-10' %>
    </div>

    <div class="form-group row">
      <%= form.label :strategy_id, class: 'col-2 col-form-label' %>
      <%= select_tag "entry[strategy_id]", options_from_collection_for_select(@strategies, "id", "name"), class: 'col-10 form-control' %>
    </div>

    <div class="form-group row">
      <%= form.label :setup_id, class: 'col-2 col-form-label' %>
      <%= select_tag "entry[setup_id]", options_from_collection_for_select(@setups, "id", "name"), class: 'col-10 form-control' %>
    </div>

    <div class="form-group row">
      <%= form.label :tags, class: 'col-2 col-form-label' %>
      <%= form.text_field :tags, class: 'date-field col-10' %>
    </div>

    <hr>

    <div class="form-group row">
      <%= form.label :risk_in_amount, class: 'col-2 col-form-label' %>
      <%= form.text_field :risk_in_amount, class: 'col-10 form-control' %>
    </div>

    <div class="form-group row">
      <%= form.label :result_in_amount, class: 'col-2 col-form-label' %>
      <%= form.text_field :result_in_amount, class: 'col-10 form-control' %>
    </div>

    <hr>

    <div class="form-group row">
      <%= form.label :risk_in_r, class: 'col-2 col-form-label' %>
      <%= form.text_field :risk_in_r, class: 'col-10 form-control' %>
    </div>

    <div class="form-group row">
      <%= form.label :result_in_r, class: 'col-2 col-form-label' %>
      <%= form.text_field :result_in_r, class: 'col-10 form-control' %>
    </div>

    <div class="field">
      <%= form.hidden_field :content, id: "entry-content" %>
      <trix-editor input="entry-content" style="min-height: 500px"></trix-editor>
    </div>

    <div class="actions">
      <%= form.submit 'Save', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
