<h2 class="text-center">Trades</h2>
<h4 class="cross">
  <span>OPEN TRADES</span>
  <span class="right open-trade-risk-alert text-dangergit">Open risk now: 3R</span>
</h4>
<div class="float-right position-absolute mr-5" style="top:15px; right:0;">
  <%= link_to new_entry_path, class: 'btn btn-success' do %>
    <span>New Trade</span>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  <% end %>
</div>

<div class="row row-cols-3 row-cols-md-3 mt-3">
  <% @open_entries.each do |entry| %>
    <div class="col mb-4">
      <div class="card shadow-sm">
        <%= link_to edit_entry_path(entry) do %>
          <img src="<%= entry.image_urls_extracted_from_content&.first %>" class="card-img">
        <% end %>
        <div class="card-body">
          <section class="mb-2">
            <h5 class="card-title d-inline-block"><%= entry.instrument.name %></h5>
            <div class="float-right"><%= short_date_format entry.open_date %></div>
          </section>
          <p class="card-text text-muted"><span class="font-italic">Strategy:</span> <%= entry.strategy.name %></p>
          <p class="card-text text-muted"><span class="font-italic">Entry Type:</span> <%= entry.setup.name %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated: <%= short_date_format entry.updated_at %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<h4 class="cross"><span>CLOSED TRADES</span></h4>

<table class="table table-borderless bg-white shadow-sm mt-3">
  <thead class="thead-light">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Open Date</th>
      <th scope="col">Close Date</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @closed_entries.each do |entry| %>
      <tr>
        <th scope="row"><%= entry.instrument.name %></th>
        <td><%= entry.open_date %></td>
        <td><%= entry.close_date %></td>
        <td><%= link_to "Edit", edit_entry_path(entry) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

