<!DOCTYPE html>
<html>
  <head>
    <title>JournalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container position-relative pt-3">
      <%= yield %>
    </div>
  </body>
</html>
